/*Sección de la barra de navegación del portafolio*/

.seccion__navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  16px 0;
}

.seccion__navbar header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.seccion__navbar header img {
  width: 24px;
  height: 24px;
  line-height: 19px;
}
.seccion__navbar header h3 {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

.seccion__navbar nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.seccion__navbar nav ul li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.seccion__navbar nav ul li a {
  text-decoration: none;
  color: #464646;
}

@media screen and (max-width: 950px) {

  .seccion__navbar nav ul li {
    display: none;
  }

  #contactolink {
    display: initial;
    
  }
}

@media screen and (max-width: 768px) {
  .seccion__navbar {
    width: 90%;
  }

  .seccion__navbar header h3{
    font-size: 16px;
line-height: 19px;
  }

  .seccion__navbar nav ul li{
    font-size: 16px;
line-height: 19px;
  }
  
}


@media screen and (max-width:510px) {
  .seccion__navbar{
    margin-bottom: 0;
  }
}
