.seccion__contacto {
  width: 100%;
  padding: 64px 0;
  background: #eaf2fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion__contacto__contenedor {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  gap: 16px;
}

.contacto__imagen {
  width: 464px;
height: 593px;
  
}

.contacto__imagen img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.contacto__informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.contacto__informacion__instrucciones {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacto__informacion__instrucciones h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #464646;
  margin: 0;
}

.contacto__informacion__instrucciones div{
  display: flex;
  flex-direction: column;
  gap:16px

}

.contacto__informacion__instrucciones p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #464646;
}

.contacto__formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 16px;
}

.input-container{
  width: 100%;
}

.contacto__formulario input {
  width: 100%;
  height: 56px;
  padding-left: 12px;
  background: #ffffff;
  border: transparent;
  border-radius: 4px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.contacto__formulario textarea {
  width: 100%;
  padding-left: 12px;
  padding-top: 12px;
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  border: transparent;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.contacto__informacion__formulario_btn{
height: 100%;
  display: flex;
  align-items: end;
}

.contacto__informacion__formulario_btn button {
    border: transparent;
  background: #2a7ae4;
  padding: 16px;
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
border-radius: 4px;
cursor: pointer;

}



/*Validacion de inputs*/

.input-contenedor--invalido {
  margin-bottom: 0.5rem;
}

.input-contenedor--invalido input {
  border: 1px solid #df2525;
  border-radius: 7px;
}


.input-mensaje-error {
  display: none;
}

.input-contenedor--invalido .input-mensaje-error {
  color: #df2525;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

/*Validacion de textarea*/

.input-contenedor--invalido {
  margin-bottom: 0.5rem;
}

.textarea-contenedor--invalido textarea {
  border: 1px solid #df2525;
  border-radius: 7px;
}


.textarea-contenedor--invalido .input-mensaje-error {
  color: #df2525;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}



@media screen and (max-width:768px) {
  


  .seccion__contacto__contenedor{
    width: 90%;
  }

  .contacto__imagen {
    display: none;
  }
}