/*Experiencia Académica*/

.seccion__experienciaAcademica {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #eaf2fd;
  padding: 64px 0;
}

.seccion__experienciaAcademica__contenedor {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion__experienciaAcademica__contenedor h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #464646;
  margin: 27px 0;
}

.academias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  gap: 24px;
}

.academia {
  width: 368px;


  display: flex;
  flex-direction: column;
  gap: 8px;
}



.academia__fondoBlanco {
  width: 368px;
height: 286px;
border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.academia__fondoBlanco img {
  width: 200px;
    height: auto;
}

.academia h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #464646;
  margin: 0;
  
}

.academia p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  margin: 0;
}

@media screen and (max-width:768px) {
  .seccion__experienciaAcademica {
    padding: 32px 0;
  }
}


@media screen and (max-width:400px) {
  .academia{
    width: 90%;
    margin: 0 5%;
  }

  .academia__fondoBlanco{
    width: 100%;
    height: auto;
  }

  .academia__fondoBlanco img {
    width: 150px;
      height: auto;
  }
}

