/*Sección de introducción de la persona*/

.seccion__introduccion {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

.seccion__introduccion__informacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.seccion__introduccion__informacion h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  color: #464646;
}

.seccion__introduccion__informacion h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
}

.seccion__introduccion__informacion ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  list-style: none;

  gap: 32px;
  justify-content: flex-start;
}

.seccion__introduccion__informacion ul li {
  display: flex;
  flex-direction: row;
}

.seccion__introduccion__informacion ul li a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #464646;
  display: flex;
  align-items: center;
  gap: 4px;
}

.seccion__introduccion__informacion img {
  width: 24px;
  height: 24px;
}

.seccion__introduccion__foto {
  display: flex;
  justify-content: center;
  width: 40%;
}

.seccion__introduccion__foto img {
  width: 219px;
  height: 306px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .seccion__introduccion {
    width: 90%;
    padding-bottom: 0;
  }

  .seccion__introduccion__informacion {
    gap: 8px;
  }

  .seccion__introduccion__informacion h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .seccion__introduccion__informacion h2 {
    font-size: 16px;
    line-height: 19px;
  }

  .seccion__introduccion__informacion ul li a {
    font-size: 16px;
    line-height: 19px;
  }

  .seccion__introduccion__foto img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
}

@media screen and (max-width: 510px) {
  .seccion__introduccion {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .seccion__introduccion__foto {
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 360px) {
  .seccion__introduccion__informacion {
    gap: 16px;
    padding: 16px 0;
  }
  .seccion__introduccion__informacion h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .seccion__introduccion__informacion h2 {
    font-size: 14px;
    line-height: 16px;
  }

  .seccion__introduccion__informacion ul li a {
    font-size: 14px;
    line-height: 16px;
  }
}
